.ant-menu {
  height: 100%;
}

.userInfo-table {
  text-align: -webkit-center;
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 6%;
  padding-bottom: 30%;
}

.ant-table-wrapper {
  border: 1px solid lightgray;
}

.alert-permission {
  padding-bottom: 100%;
}