.edit-form {
  padding-top: 17%;
  text-align: -webkit-center;
  padding-bottom: 30%;
}

.ant-menu {
  height: 100%;
}

.editPwd-btn {
  pdding-top: 10%;
}

.personal-like-btn {
  padding-left: 34%;
  padding-top: 2%;
}

.ant-comment {
  min-width: 800px;
}

.userInfo-moment-element {
  padding: 20px 20px 60%;
}